.demo{


    width: 300px;
    height: 200px;
    border: 2px solid black;
}
.container{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.details{

    display: flex;  
}
.room-details{

    display: flex;
    flex-direction: row;
}